<!DOCTYPE html> 
<html> 
<head> 
    <title>Causes of Heart Disease</title> 
</head> 
<body> 
<center><h1>Causes of Heart Disease</h1></center>
<center><h1>Various heart disease causes</h1></center>
<div class="container">
<p align="left">
The causes of heart disease vary by type of heart disease.
</p>
<center><h1>Causes of cardiovascular disease</h1></center>
<p align="left">
While cardiovascular disease can refer to different heart or 
blood vessel problems, the term is often used to mean damage 
to your heart or blood vessels by atherosclerosis 
(ath-ur-o-skluh-ROE-sis), a buildup of fatty plaques in your 
arteries. Plaque buildup thickens and stiffens artery walls, 
which can inhibit blood flow through your arteries to your organs and tissues.<br><br>
Atherosclerosis is also the most common cause of cardiovascular disease. 
It can be caused by correctable problems, such as an unhealthy diet, 
lack of exercise, being overweight and smoking.
</p>
<center><h1>Causes of heart arrhythmia</h1></center>
<p align="left">
Common causes of abnormal heart rhythms (arrhythmias) or conditions that can 
lead to arrhythmias include:
</p>
<p align="left"><ul>
<li>Heart defects you're born with (congenital heart defects)</li>
<li>Coronary artery disease</li>
<li>High blood pressure</li>
<li>Diabetes</li>
<li>Smoking</li>
<li>Excessive use of alcohol or caffeine</li>
<li>Drug abuse</li>
<li>Stress</li>
<li>Some over-the-counter medications, prescription medications, dietary supplements and herbal remedies</li>
<li>Valvular heart disease</li>
</ul></p>
<p align="left">
In a healthy person with a normal, healthy heart, it's unlikely for a fatal arrhythmia 
to develop without some outside trigger, such as an electrical shock or the use of illegal drugs. 
That's primarily because a healthy person's heart is free from any abnormal conditions that cause 
an arrhythmia, such as an area of scarred tissue.<br><br>
However, in a heart that's diseased or deformed, the heart's electrical impulses may not properly 
start or travel through the heart, making arrhythmias more likely to develop.
</p>
<center><h1>Causes of congenital heart defects</h1></center>
<p align="left">
Congenital heart defects usually develop while a baby is in the womb. Heart defects can develop as 
the heart develops, about a month after conception, changing the flow of blood in the heart. 
Some medical conditions, medications and genes may play a role in causing heart defects.<br><br>
Heart defects can also develop in adults. As you age, your heart's structure can change, 
causing a heart defect.
</p>
<center><h1>Causes of cardiomyopathy</h1></center>
<p align="left">
The cause of cardiomyopathy, a thickening or enlarging of the heart muscle, may depend on the type:
</p>
<p align="left"><ul>
<li><h4>Dilated cardiomyopathy.</h4> The cause of this most common type of cardiomyopathy often is unknown. It may be caused by reduced blood flow to the heart (ischemic heart disease) resulting from damage after a heart attack, infections, toxins and certain drugs. It may also be inherited from a parent. It usually enlarges (dilates) the left ventricle.</li>
<li><h4>Hypertrophic cardiomyopathy.</h4> This type, in which the heart muscle becomes abnormally thick, usually is inherited. It can also develop over time because of high blood pressure or aging.</li>
<li><h4>Restrictive cardiomyopathy.</h4> This least common type of cardiomyopathy, which causes the heart muscle to become rigid and less elastic, can occur for no known reason. Or it may be caused by diseases, such as connective tissue disorders, excessive iron buildup in your body (hemochromatosis), the buildup of abnormal proteins (amyloidosis) or by some cancer treatments.</li>
</ul></p>
<center><h1>Causes of heart infection</h1></center>
<p align="left">
A heart infection, such as endocarditis, is caused when an irritant, such as a bacterium, 
virus or chemical, reaches your heart muscle. The most common causes of heart infection include:
</p>
<p align="left"><ul>
<li>Bacteria</li>
<li>Viruses</li>
<li>Parasites</li>
</ul></p>
<center><h1>Causes of valvular heart disease</h1></center>
<p align="left">
There are many causes of diseases of your heart valves. You may be born with valvular disease, 
or the valves may be damaged by conditions such as:
</p>
<p align="left"><ul>
<li>Rheumatic fever</li>
<li>Infections (infectious endocarditis)</li>
<li>Connective tissue disorders</li>
</ul></p>
</div>
<br>
<br>
<br>
<br>

</body>
</html>