{% extends "bootstrap/base.html" %}

{% block title %}
Analytics Page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<style>
th, td {
  text-align: center;
  padding: 30px;
}
</style>
{% endblock %}


{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #00FF7F;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Heart Disease Prediction</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
           
            <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="https://www.google.com/search" method="GET">
            <input type="text" class="form-control" name="q" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('dashboard') }}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('dataset') }}">DataSet</a></li>
            <li><a href="{{ url_for('userinput') }}">Predict</a></li>
            <li class="active"><a href="{{ url_for('graphs')}}">Analytics</a></li>
            <li><a href="{{ url_for('display')}}">Exploratory Data Analysis (EDA)</a></li>
              <li><a href="{{ url_for('visuval')}}">Heart Disease Deaths</a></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('detect') }}">Type of Heart Disease Detection</a></li>
            <li><a href="{{ url_for('concept') }}">Literature of Heart Disease</a></li>
            <li><a href="{{ url_for('sp') }}">Suggestions</a></li>
          </ul>
          
        </div>
        <div class="row placeholders">
        <br>
        <center><h1>Exploratory Data Analysis (EDA)</h1>
        <br>
        <p>The table below represents the relationship between<br>
        Attribute Vs Target Class</p>
        </center>
 </div>
 <br>

 
         <center> <h2>Visualization Plots Table</h2></center><br><br>
          <div class="table-wrapper">
            <table border="1" align="center" class="table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th>S.No</th>
                  <th>Attribute Name</th>
                  <th>Target Attribute Name</th>
                  <th>Description</th>
                  <th>Link for Plot</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>1</td>
                  <td>Sex</td>
                  <td>Target</td>
                  <td>Analysing the 'Sex' feature</td>
                  <td><a href="{{ url_for('display')}}">Sex</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>CP</td>
                  <td>Target</td>
                  <td>Analysing the 'Chest Pain Type' feature</td>
                  <td><a href="{{ url_for('display')}}">CP</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>FBS</td>
                  <td>Target</td>
                  <td>Analysing the 'FBS' feature</td>
                  <td><a href="{{ url_for('display')}}">FBS</a></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Restecg</td>
                  <td>Target</td>
                  <td>Analysing the 'Restecg' feature</td>
                  <td><a href="{{ url_for('display')}}">Restecg</a></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Exang</td>
                  <td>Target</td>
                  <td>Analysing the 'Exang' feature</td>
                  <td><a href="{{ url_for('display')}}">Exang</a></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Slope</td>
                  <td>Target</td>
                  <td>Analysing the 'Slope' feature</td>
                  <td><a href="{{ url_for('display')}}">Slope</a></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>CA</td>
                  <td>Target</td>
                  <td>Analysing the 'CA' feature</td>
                  <td><a href="{{ url_for('display')}}">CA</a></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Thal</td>
                  <td>Target</td>
                  <td>Analysing the 'Thal' feature</td>
                  <td><a href="{{ url_for('display')}}">Thal</a></td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    



{% endblock %}