<!DOCTYPE html> 
<html> 
<head> 
    <title>Prevention</title> 
</head> 
<body> 
<center><h1>Prevention</h1></center>
<div class="container">
<p align="left">
Certain types of heart disease, such as heart defects, 
can't be prevented. However, you can help prevent many other 
types of heart disease by making the same lifestyle changes 
that can improve your heart disease, such as:
</p>
<p align="left"><ul>
<li>Quit smoking</li>
<li>Control other health conditions, such as high blood pressure, high cholesterol and diabetes</li>
<li>Exercise at least 30 minutes a day on most days of the week</li>
<li>Eat a diet that's low in salt and saturated fat</li>
<li>Maintain a healthy weight</li>
<li>Reduce and manage stress</li>
<li>Practice good hygiene</li>
</ul></p>
</div>
</body>
</html>