<!DOCTYPE html> 
<html> 
<head> 
    <title>Risk Factors & Complications</title> 
</head> 
<body> 
<center><h1>Risk Factors & Complications</h1></center>
<div class="container">
<center><h1>Risk Factors</h1></center>
<p align="left">
Risk factors for developing heart disease include:
</p>
<p align="left"><ul>
<li><h4>Age.</h4> Aging increases your risk of damaged and narrowed arteries and weakened or thickened heart muscle.</li>
<li><h4>Sex.</h4> Men are generally at greater risk of heart disease. However, women's risk increases after menopause.</li>
<li><h4>Family history.</h4> A family history of heart disease increases your risk of coronary artery disease, especially if a parent developed it at an early age (before age 55 for a male relative, such as your brother or father, and 65 for a female relative, such as your mother or sister).</li>
<li><h4>Smoking.</h4> Nicotine constricts your blood vessels, and carbon monoxide can damage their inner lining, making them more susceptible to atherosclerosis. Heart attacks are more common in smokers than in nonsmokers.</li>
<li><h4>Certain chemotherapy drugs and radiation therapy for cancer.</h4> Some chemotherapy drugs and radiation therapies may increase the risk of cardiovascular disease.</li>
<li><h4>Poor diet.</h4> A diet that's high in fat, salt, sugar and cholesterol can contribute to the development of heart disease.</li>
<li><h4>High blood pressure.</h4> Uncontrolled high blood pressure can result in hardening and thickening of your arteries, narrowing the vessels through which blood flows.</li>
<li><h4>High blood cholesterol levels.</h4> High levels of cholesterol in your blood can increase the risk of formation of plaques and atherosclerosis.</li>
<li><h4>Diabetes.</h4> Diabetes increases your risk of heart disease. Both conditions share similar risk factors, such as obesity and high blood pressure.</li>
<li><h4>Obesity.</h4> Excess weight typically worsens other risk factors.</li>
<li><h4>Physical inactivity.</h4> Lack of exercise also is associated with many forms of heart disease and some of its other risk factors, as well.</li>
<li><h4>Stress.</h4> Unrelieved stress may damage your arteries and worsen other risk factors for heart disease.</li>
<li><h4>Poor hygiene.</h4> Not regularly washing your hands and not establishing other habits that can help prevent viral or bacterial infections can put you at risk of heart infections, especially if you already have an underlying heart condition. Poor dental health also may contribute to heart disease.</li>
</ul></p>
<br>
<br>
<center><h1>Complications</h1></center>
<p align="left">
Complications of heart disease include:
</p>
<p align="left"><ul>
<li><h4>Heart failure.</h4> One of the most common complications of heart disease, heart failure occurs when your heart can't pump enough blood to meet your body's needs. Heart failure can result from many forms of heart disease, including heart defects, cardiovascular disease, valvular heart disease, heart infections or cardiomyopathy.</li>
<li><h4>Heart attack.</h4> A blood clot blocking the blood flow through a blood vessel that feeds the heart causes a heart attack, possibly damaging or destroying a part of the heart muscle. Atherosclerosis can cause a heart attack.</li>
<li><h4>Stroke.</h4> The risk factors that lead to cardiovascular disease also can lead to an ischemic stroke, which happens when the arteries to your brain are narrowed or blocked so that too little blood reaches your brain. A stroke is a medical emergency — brain tissue begins to die within just a few minutes of a stroke.</li>
<li><h4>Aneurysm.</h4> A serious complication that can occur anywhere in your body, an aneurysm is a bulge in the wall of your artery. If an aneurysm bursts, you may face life-threatening internal bleeding.</li>
<li><h4>Peripheral artery disease.</h4> Atherosclerosis also can lead to peripheral artery disease. When you develop peripheral artery disease, your extremities — usually your legs — don't receive enough blood flow. This causes symptoms, most notably leg pain when walking (claudication).</li>
<li><h4>Sudden cardiac arrest.</h4> Sudden cardiac arrest is the sudden, unexpected loss of heart function, breathing and consciousness, often caused by an arrhythmia. Sudden cardiac arrest is a medical emergency. If not treated immediately, it is fatal, resulting in sudden cardiac death.</li>
</ul></p>
</div>
<br>
<br>
<br>
<br>
</body>
</html>