<!DOCTYPE html> 
<html> 
<head> 
    <title>Suggestions</title> 
</head> 
<body> 
<center><h1>Causes of Heart Disease</h1></center>
<center><h1>Various heart disease causes</h1></center>
<div class="container">
<p align="left">
The causes of heart disease vary by type of heart disease.
</p>

<center><h1>Causes of heart arrhythmia</h1></center>
<p align="left">
Common causes of abnormal heart rhythms (arrhythmias) or conditions that can 
lead to arrhythmias include:
</p>
<p align="left"><ul>
<li>Heart defects you're born with (congenital heart defects)</li>
<li>Coronary artery disease</li>
<li>High blood pressure</li>
<li>Diabetes</li>
<li>Smoking</li>
<li>Excessive use of alcohol or caffeine</li>
<li>Drug abuse</li>
<li>Stress</li>
<li>Some over-the-counter medications, prescription medications, dietary supplements and herbal remedies</li>
<li>Valvular heart disease</li>
</ul></p>
<p align="left">
In a healthy person with a normal, healthy heart, it's unlikely for a fatal arrhythmia 
to develop without some outside trigger, such as an electrical shock or the use of illegal drugs. 
That's primarily because a healthy person's heart is free from any abnormal conditions that cause 
an arrhythmia, such as an area of scarred tissue.<br><br>
However, in a heart that's diseased or deformed, the heart's electrical impulses may not properly 
start or travel through the heart, making arrhythmias more likely to develop.
</p>
<center><h1>Causes of congenital heart defects</h1></center>
<p align="left">
Congenital heart defects usually develop while a baby is in the womb. Heart defects can develop as 
the heart develops, about a month after conception, changing the flow of blood in the heart. 
Some medical conditions, medications and genes may play a role in causing heart defects.<br><br>
Heart defects can also develop in adults. As you age, your heart's structure can change, 
causing a heart defect.
</p>
<center><h1>Causes of cardiomyopathy</h1></center>
<p align="left">
The cause of cardiomyopathy, a thickening or enlarging of the heart muscle, may depend on the type:
</p>
<p align="left"><ul>
<li><h4>Dilated cardiomyopathy.</h4> The cause of this most common type of cardiomyopathy often is unknown. It may be caused by reduced blood flow to the heart (ischemic heart disease) resulting from damage after a heart attack, infections, toxins and certain drugs. It may also be inherited from a parent. It usually enlarges (dilates) the left ventricle.</li>
<li><h4>Hypertrophic cardiomyopathy.</h4> This type, in which the heart muscle becomes abnormally thick, usually is inherited. It can also develop over time because of high blood pressure or aging.</li>
<li><h4>Restrictive cardiomyopathy.</h4> This least common type of cardiomyopathy, which causes the heart muscle to become rigid and less elastic, can occur for no known reason. Or it may be caused by diseases, such as connective tissue disorders, excessive iron buildup in your body (hemochromatosis), the buildup of abnormal proteins (amyloidosis) or by some cancer treatments.</li>
</ul></p>
<center><h1>Causes of heart infection or Endocardium</h1></center>
<p align="left">
A heart infection, such as endocarditis, is caused when an irritant, such as a bacterium, 
virus or chemical, reaches your heart muscle. The most common causes of heart infection include:
</p>
<p align="left"><ul>
<li>Bacteria</li>
<li>Viruses</li>
<li>Parasites</li>
</ul></p>
<br>
<br>
<center><h1>Risk Factors & Complications</h1></center>
<p align="left">
Risk factors for developing heart disease include:
</p>
<p align="left"><ul>
<li><h4>Age.</h4> Aging increases your risk of damaged and narrowed arteries and weakened or thickened heart muscle.</li>
<li><h4>Sex.</h4> Men are generally at greater risk of heart disease. However, women's risk increases after menopause.</li>
<li><h4>Family history.</h4> A family history of heart disease increases your risk of coronary artery disease, especially if a parent developed it at an early age (before age 55 for a male relative, such as your brother or father, and 65 for a female relative, such as your mother or sister).</li>
<li><h4>Smoking.</h4> Nicotine constricts your blood vessels, and carbon monoxide can damage their inner lining, making them more susceptible to atherosclerosis. Heart attacks are more common in smokers than in nonsmokers.</li>
<li><h4>Certain chemotherapy drugs and radiation therapy for cancer.</h4> Some chemotherapy drugs and radiation therapies may increase the risk of cardiovascular disease.</li>
<li><h4>Poor diet.</h4> A diet that's high in fat, salt, sugar and cholesterol can contribute to the development of heart disease.</li>
<li><h4>High blood pressure.</h4> Uncontrolled high blood pressure can result in hardening and thickening of your arteries, narrowing the vessels through which blood flows.</li>
<li><h4>High blood cholesterol levels.</h4> High levels of cholesterol in your blood can increase the risk of formation of plaques and atherosclerosis.</li>
<li><h4>Diabetes.</h4> Diabetes increases your risk of heart disease. Both conditions share similar risk factors, such as obesity and high blood pressure.</li>
<li><h4>Obesity.</h4> Excess weight typically worsens other risk factors.</li>
<li><h4>Physical inactivity.</h4> Lack of exercise also is associated with many forms of heart disease and some of its other risk factors, as well.</li>
<li><h4>Stress.</h4> Unrelieved stress may damage your arteries and worsen other risk factors for heart disease.</li>
<li><h4>Poor hygiene.</h4> Not regularly washing your hands and not establishing other habits that can help prevent viral or bacterial infections can put you at risk of heart infections, especially if you already have an underlying heart condition. Poor dental health also may contribute to heart disease.</li>
</ul></p>
<br>
<br>
<p align="left">
Complications of heart disease include:
</p>
<p align="left"><ul>
<li><h4>Heart failure.</h4> One of the most common complications of heart disease, heart failure occurs when your heart can't pump enough blood to meet your body's needs. Heart failure can result from many forms of heart disease, including heart defects, cardiovascular disease, valvular heart disease, heart infections or cardiomyopathy.</li>
<li><h4>Heart attack.</h4> A blood clot blocking the blood flow through a blood vessel that feeds the heart causes a heart attack, possibly damaging or destroying a part of the heart muscle. Atherosclerosis can cause a heart attack.</li>
<li><h4>Stroke.</h4> The risk factors that lead to cardiovascular disease also can lead to an ischemic stroke, which happens when the arteries to your brain are narrowed or blocked so that too little blood reaches your brain. A stroke is a medical emergency — brain tissue begins to die within just a few minutes of a stroke.</li>
<li><h4>Aneurysm.</h4> A serious complication that can occur anywhere in your body, an aneurysm is a bulge in the wall of your artery. If an aneurysm bursts, you may face life-threatening internal bleeding.</li>
<li><h4>Peripheral artery disease.</h4> Atherosclerosis also can lead to peripheral artery disease. When you develop peripheral artery disease, your extremities — usually your legs — don't receive enough blood flow. This causes symptoms, most notably leg pain when walking (claudication).</li>
<li><h4>Sudden cardiac arrest.</h4> Sudden cardiac arrest is the sudden, unexpected loss of heart function, breathing and consciousness, often caused by an arrhythmia. Sudden cardiac arrest is a medical emergency. If not treated immediately, it is fatal, resulting in sudden cardiac death.</li>
</ul></p>
<br>
<br>
<center><h1>Prevention</h1></center>
<p align="left">
Certain types of heart disease, such as heart defects, 
can't be prevented. However, you can help prevent many other 
types of heart disease by making the same lifestyle changes 
that can improve your heart disease, such as:
</p>
<p align="left"><ul>
<li>Quit smoking</li><br>
<li>Control other health conditions, such as high blood pressure, high cholesterol and diabetes</li><br>
<li>Exercise at least 30 minutes a day on most days of the week</li><br>
<li>Eat a diet that's low in salt and saturated fat</li><br>
<li>Maintain a healthy weight</li><br>
<li>Reduce and manage stress</li><br>
<li>Practice good hygiene</li><br>
</ul></p>


</div>
<br>
<br>
<br>
<br>

</body>
</html>