<!DOCTYPE html> 
<html> 
<head> 
    <title>Symptoms of Heart Disease</title> 
</head> 
<body> 
<center><h1>Symptoms of Heart Disease</h1></center>
<div class="container">
<p align="left">
Heart disease symptoms depend on what type of heart disease you have.
</p>

<center><h1>Symptoms of heart disease in your blood vessels (atherosclerotic disease)</h1></center>
<p align="left">
Cardiovascular disease symptoms may be different for men and women. 
For instance, men are more likely to have chest pain; women are more 
likely to have other symptoms along with chest discomfort, such as 
shortness of breath, nausea and extreme fatigue.
</p>
<p align="left">
Symptoms can include:
</p>
<p align="left"><ul>
<li>Chest pain, chest tightness, chest pressure and chest discomfort (angina)</li>
<li>Shortness of breath</li>
<li>Pain, numbness, weakness or coldness in your legs or 
arms if the blood vessels in those parts of your body are narrowed</li>
<li>Pain in the neck, jaw, throat, upper abdomen or back</li>
</ul></p>
<p align="left">
You might not be diagnosed with cardiovascular disease until you have a 
heart attack, angina, stroke or heart failure. It's important to watch for 
cardiovascular symptoms and discuss concerns with your doctor. 
Cardiovascular disease can sometimes be found early with regular evaluations.
</p>
<center><h1>Heart disease symptoms caused by abnormal heartbeats (heart arrhythmias)</h1></center>
<p align="left">
A heart arrhythmia is an abnormal heartbeat. Your heart may beat too quickly, 
too slowly or irregularly. Heart arrhythmia symptoms can include:
</p>
<p align="left"><ul>
<li>Fluttering in your chest</li>
<li>Racing heartbeat (tachycardia)</li>
<li>Slow heartbeat (bradycardia)</li>
<li>Chest pain or discomfort</li>
<li>Shortness of breath</li>
<li>Lightheadedness</li>
<li>Dizziness</li>
<li>Fainting (syncope) or near fainting</li>
</ul></p>
<center><h1>Heart disease symptoms caused by heart defects</h1></center>
<p align="left">
Serious congenital heart defects — defects you're born with — usually become 
evident soon after birth. Heart defect symptoms in children could include:
</p>
<p align="left"><ul>
<li>Pale gray or blue skin color (cyanosis)</li>
<li>Swelling in the legs, abdomen or areas around the eyes</li>
<li>In an infant, shortness of breath during feedings, leading to poor weight gain</li>
</ul></p>
<p align="left">
Less serious congenital heart defects are often not diagnosed until later in childhood 
or during adulthood. Signs and symptoms of congenital heart defects that usually aren't 
immediately life-threatening include:
</p>
<p align="left"><ul>
<li>Easily getting short of breath during exercise or activity</li>
<li>Easily tiring during exercise or activity</li>
<li>Swelling in the hands, ankles or feet</li>
</ul></p>
<center><h1>Heart disease symptoms caused by weak heart muscle (dilated cardiomyopathy)</h1></center>
<p align="left">
In early stages of cardiomyopathy, you may have no symptoms. As the condition worsens, 
symptoms may include:
</p>
<p align="left"><ul>
<li>Breathlessness with exertion or at rest</li>
<li>Swelling of the legs, ankles and feet</li>
<li>Fatigue</li>
<li>Irregular heartbeats that feel rapid, pounding or fluttering</li>
<li>Dizziness, lightheadedness and fainting</li>
</ul></p>
<center><h1>Heart disease symptoms caused by heart infections</h1></center>
<p align="left">
Endocarditis is an infection that affects the inner membrane that separates the chambers and 
valves of the heart (endocardium). Heart infection symptoms can include:
</p>
<p align="left"><ul>
<li>Fever</li>
<li>Shortness of breath</li>
<li>Weakness or fatigue</li>
<li>Swelling in your legs or abdomen</li>
<li>Changes in your heart rhythm</li>
<li>Dry or persistent cough</li>
<li>Skin rashes or unusual spots</li>
</ul></p>
<center><h1>Heart disease symptoms caused by valvular heart disease</h1></center>
<p align="left">
The heart has four valves — the aortic, mitral, pulmonary and tricuspid valves — that 
open and close to direct blood flow through your heart. Valves may be damaged by a variety 
of conditions leading to narrowing (stenosis), leaking (regurgitation or insufficiency) 
or improper closing (prolapse).
</p>
<p align="left">
Depending on which valve isn't working properly, valvular heart disease symptoms generally include:
</p>
<p align="left"><ul>
<li>Fatigue</li>
<li>Shortness of breath</li>
<li>Irregular heartbeat</li>
<li>Swollen feet or ankles</li>
<li>Chest pain</li>
<li>Fainting (syncope)</li>
</ul></p>
<br>
<br>
<br>
<br>


</div>
</body>
</html>