<!DOCTYPE html> 
<html> 
<head> 
    <title>Working of Heart</title> 
</head> 
<body> 


<center><h1>Working of Heart</h1></center>
<div class="container">
    <p align="left">
    Your heart is a pump. It's a muscular organ about the 
    size of your fist, situated slightly left of center in 
    your chest. Your heart is divided into the right and the 
    left side. The division prevents oxygen-rich blood from 
    mixing with oxygen-poor blood. Oxygen-poor blood returns 
    to the heart after circulating through your body.
    </p> 
      
    <p align="left"><ul>
    <li>The right side of the heart, comprising the right atrium and ventricle, collects and pumps blood to the lungs through the pulmonary arteries.
    </li>
    <li>The lungs refresh the blood with a new supply of oxygen. The lungs also breathe out carbon dioxide, a waste product.
    </li>
    <li>Oxygen-rich blood then enters the left side of the heart, comprising the left atrium and ventricle.
    </li>
    <li>The left side of the heart pumps blood through the aorta to supply tissues throughout the body with oxygen and nutrients.
    </li></ul></p>
    
    <center><h1>Heart valves</h1></center>
    <p align="left">
    Four valves within your heart keep your blood moving the right 
    way by opening only one way and only when they need to. To function properly, 
    the valve must be formed properly, must open all the way and must close tightly 
    so there's no leakage. The four valves are:
    </p>
    <p align="left"><ul>
    <li>Tricuspid</li>
    <li>Mitral</li>
    <li>Pulmonary</li>
    <li>Aortic</li>
    
    </ul></p>
    
    <center><h1>Heartbeats</h1></center>
    <p align="left">
    A beating heart contracts and relaxes in a continuous cycle.
    </p>
    <p align="left"><ul>
    <li>During contraction (systole), your ventricles contract, forcing blood into the vessels to your lungs and body.</li>
<li>During relaxation (diastole), the ventricles are filled with blood coming from the upper chambers (left and right atria).</li>
    </ul></p>
    
    <center><h1>Electrical system</h1></center>
    <p align="left">
    Your heart's electrical wiring keeps it beating, which controls 
    the continuous exchange of oxygen-rich blood with oxygen-poor blood. T
    his exchange keeps you alive.
    </p>
    <p align="left"><ul>
    <li>Electrical impulses begin high in the right atrium and travel through specialized pathways to the ventricles, delivering the signal for the heart to pump.</li>
    <li>The conduction system keeps your heart beating in a coordinated and normal rhythm, which keeps blood circulating.</li>
    </ul></p>
    
    
    
    
    
    
    
    </div>
    
    
</body> 
</html> 